{% extends "base.html" %} {% block title %}{{_('Edition')}} 2025{% endblock %} {% block
content %}
<main class="mx-auto mt-5 w-[90%]">
  <div
    class="bg-pruslight-300 rounded-md p-4 shadow-[0px_5px_15px_-3px_rgba(0,_0,_0,_0.05)]"
  >
    <h1 class="font-heading text-4xl">PrusMoot 2025</h1>
    <div class="mt-3 text-lg">
      <h2 class="font-heading text-2xl">{{_('Timeline')}}</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1">{{date(2025, 9, 18) | dateformat("d.MM")}} - {{_('end of registration')}}</li>
        <li class="mb-1">{{date(2025, 9, 19) | dateformat("d.MM")}} - {{_('case file made available')}}</li>
        <li class="mb-1">{{date(2025, 10, 1) | dateformat("d.MM")}} - {{_('stage 1: memorial deadline')}}</li>
        <li class="mb-1">{{date(2025, 10, 16) | dateformat("d.MM")}} ({{time(10, 0) | timeformat('short')}} - {{time(16, 0) | timeformat('short')}}) -  {{_('conference and announcement')}}</li>
        <li class="mb-1">{{date(2025, 10, 23) | dateformat("d.MM")}} ({{time(10, 0) | timeformat('short')}} - {{time(16, 0) | timeformat('short')}}) - {{_('stage 2: quarter and semi-finals')}}</li>
        <li class="mb-1">{{date(2025, 10, 24) | dateformat("d.MM")}} ({{time(10, 0) | timeformat('short')}} - {{time(12, 0) | timeformat('short')}}) - {{_('stage 2: finals')}}</li>
      </ul>
      <h2 class="font-heading text-2xl">{{_('Venue')}}: {{_('Biuro Rzecznika Finansowego, ul. Nowogrodzka 47a')}}</h2>
      <!-- <div class="mb-3 flex flex-row gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
          />
        </svg>

        <span class="">{{date(2025, 9, 18) | dateformat("d MMMM")}}</span>
      </div>

      <div class="mb-3 flex flex-row gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>

        <span class="">{{time(9, 0) | timeformat('short')}} - {{time(12, 0) | timeformat('short')}}</span>
      </div>

      <div class="mb-3 flex flex-row gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
          />
        </svg>
        <span class="">VarsoTower</span>
      </div> -->
    </div>
  </div>

  <div
    class="bg-pruslight-300 my-3 rounded-md p-4 shadow-[0px_5px_15px_-3px_rgba(0,_0,_0,_0.05)]"
  >
    <h1 class="font-heading text-4xl">{{_('Details')}}</h1>
    <p class="mb-2">
      {{_('We are thrilled to announce that')}} <b>{{_('PrusMoot is back, with the second edition taking place this fall!')}}</b>
    </p>
    <p class="mb-2">
      {{_('PrusMoot 2025 invites high school students from across Poland to engage in legal debates, sharpen their public speaking skills, and explore the world of international law. We are proud to be working with a team of experts, judges and legal professionals, providing students with unmatched opportunities to explore different areas of law and gain invaluable experience.')}}'
    </p>
    <p class="mb-2">
      {{_('This year’s edition includes not only the competition itself, but also an official conference, hosting experts from various areas of law as guest speakers. The conference will take place a week prior to the oral rounds of the competition and will be an amazing opportunity for all participants to attend exclusive lectures given by said experts and get an opportunity to meet and talk to them.')}}'
    </p>
  </div>

  <div
    class="bg-pruslight-300 my-3 rounded-md p-4 shadow-[0px_5px_15px_-3px_rgba(0,_0,_0,_0.05)]"
  >
    <h1 class="font-heading text-4xl">{{_('How to start?')}}</h1>
    <div class="">
      {{_('If you are new to moot, check out our')}}
      <a
        href="{{url_for('main.guide')}}"
        class="text-prusdark hover:text-prusdark-600 active:text-prusdark-600 duration-200"
        >{{_('guide')}}</a
      >
    </div>

    <div class="">
      {{_('Register yourself via')}}
      <a
        href="https://mymoot.org/mootDetails?id=36"
        target="_blank"
        class="text-prusdark hover:text-prusdark-600 active:text-prusdark-600 duration-200"
        >mymoot.org</a
      >
    </div>

    <div class="">
      {{_('Discover')}}
      <a
        href="{{url_for('main.files')}}"
        class="text-prusdark hover:text-prusdark-600 active:text-prusdark-600 duration-200"
        >{{_('files')}}</a
      >
      {{_('and latest')}}
      <a
        href="{{url_for('main.news')}}"
        class="text-prusdark hover:text-prusdark-600 active:text-prusdark-600 duration-200"
        >{{_('news')}}</a
      >
    </div>
  </div>
</main>
{% endblock %}
