<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileDrop Panel Login</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body class="bg-pruslight-300 m-0 p-0 dark:bg-slate-900">
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <div class="text-bold mx-auto w-[20%] text-center text-xl">
      {% for cattegory, message in messages %}
      <div
        class="{% if cattegory == 'error' %} alert-error {% elif cattegory == 'success' %} alert-success {% elif cattegory == 'warning' %} alert-warning {% endif %} mb-3 rounded-md py-4"
      >
        {{message}}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div
      class="flex min-h-screen flex-col content-evenly items-center justify-center text-center"
    >
      <p class="p-4 text-5xl dark:text-white">
        PrusMoot
        <span
          class="from-prusdark-400 to-prusdark-600 inline-block bg-gradient-to-r bg-clip-text py-2 font-bold text-transparent"
          >Panel</span
        >
      </p>

      <form method="POST" action="{{url_for('auth.password_change')}}">

        <input
          type="password"
          name="current_password"
          required
          placeholder="Current password"
          class="text-prusdark-500 placeholder-prusdark-500 bg-prusdark-50 hover:bg-prusdark-100 focus:bg-prusdark-200 border-prusdark-500 dark:bg-prusdark-800 dark:hover:bg-prusdark-900 dark:focus:bg-prusdark-800 mb-4 rounded-md border-[2px] border-solid px-[1rem] py-[0.9rem] duration-150 focus:outline-none max-sm:h-[40%] max-sm:w-[70%] dark:text-white dark:placeholder-white"
        /><br />
        <input
          type="password"
          name="new_password"
          required
          placeholder="New password"
          class="text-prusdark-500 placeholder-prusdark-500 bg-prusdark-50 hover:bg-prusdark-100 focus:bg-prusdark-200 border-prusdark-500 dark:bg-prusdark-800 dark:hover:bg-prusdark-900 dark:focus:bg-prusdark-800 mb-4 rounded-md border-[2px] border-solid px-[1rem] py-[0.9rem] duration-150 focus:outline-none max-sm:h-[40%] max-sm:w-[70%] dark:text-white dark:placeholder-white"
        /><br />
        <input
          type="password"
          name="confirm_new_password"
          required
          placeholder="Confirm new password"
          class="text-prusdark-500 placeholder-prusdark-500 bg-prusdark-50 hover:bg-prusdark-100 focus:bg-prusdark-200 border-prusdark-500 dark:bg-prusdark-800 dark:hover:bg-prusdark-900 dark:focus:bg-prusdark-800 mb-4 rounded-md border-[2px] border-solid px-[1rem] py-[0.9rem] duration-150 focus:outline-none max-sm:h-[40%] max-sm:w-[70%] dark:text-white dark:placeholder-white"
        /><br />
        <input
          type="submit"
          class="bg-prusdark-500 hover:bg-prusdark-600 active:bg-prusdark-700 rounded-full px-14 py-2 text-white duration-200"
          value="Change"
        />
      </form>
    </div>
  </body>
</html>
