{% extends "panel/base.html" %} {% block title%} Files {% endblock %} {% block
content%}
<div class="flex flex-row flex-wrap justify-center gap-[2%]">
  <div
    class="my-[1%] flex min-h-[300px] w-[98%] min-w-[350px] flex-col items-center justify-evenly rounded-md bg-gray-200 text-center dark:bg-slate-600"
  >
    <div>
      <h1 class="mt-4 text-2xl">Upload a file</h1>
    </div>

    <form
      action="{{url_for('panel.files')}}"
      method="POST"
      enctype="multipart/form-data"
      class="w-[80%]"
    >
      <input class="hidden" type="text" name="field" value="upload" />
      <label for="name_en">English name</label><br />
      <input
        required
        type="text"
        class="mb-4 w-full rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        name="name_en"
      /><br />

      <label for="name_pl">Polish name</label><br />
      <input
        required
        type="text"
        class="mb-4 w-full rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        name="name_pl"
      /><br />

      <label for="description_en">English description</label><br />
      <textarea
        required
        class="mb-4 w-full rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        name="description_en"
      ></textarea
      ><br />

      <label for="description_pl">Polish description</label><br />
      <textarea
        required
        class="mb-4 w-full rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        name="description_pl"
      ></textarea
      ><br />

      <label for="name_pl">File</label><br />
      <input
        required
        type="file"
        class="mb-4 w-full rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        name="file"
      /><br />

      <label for="category">Category</label><br />
      <select
        name="category"
        class="mb-4 w-full rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
      >
        {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
        {% endfor %}</select
      ><br />

      <input
        type="submit"
        class="mb-4 rounded-full bg-green-500 px-14 py-2 text-white duration-200 hover:bg-green-600 active:bg-green-700"
        value="Upload"
      />
    </form>
  </div>

  <div
    class="my-[1%] flex min-h-[300px] w-[98%] min-w-[350px] flex-col items-center justify-evenly rounded-md bg-gray-200 text-center dark:bg-slate-600"
  >
    <div>
      <h1 class="mt-4 text-2xl">All files</h1>
    </div>

    {% if files %}
    <table class="min-w-[90%] table-auto">
      <thead class="bg-gray-100 dark:bg-gray-500">
        <tr>
          <th class="border-b border-gray-300 px-4 py-2 text-center">
            English name
          </th>
          <th class="border-b border-gray-300 px-4 py-2 text-center">
            Category
          </th>
          <th class="border-b border-gray-300 px-4 py-2 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr class="even:bg-gray-100 dark:even:bg-gray-500">
          <td class="border-b border-gray-200 px-4 py-2">{{file.name_en}}</td>
          <td class="border-b border-gray-200 px-4 py-2">{{file.category}}</td>
          <td
            class="flex flex-row items-center justify-end gap-3 border-b border-gray-200 px-4 py-2"
          >
            <form
              action="{{url_for('panel.delete_file')}}"
              class=""
              method="post"
            >
              <input type="text" class="hidden" name="id" value="{{file.id}}" />
              <button
                type="submit"
                onclick="return confirm('Are you sure you want to delete this file ({{file.name_en}})?')"
                class="text-red-500 hover:text-red-600 active:text-red-700"
              >
                <input class="hidden" value="{{file.id}}" />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %} No files to show! {% endif %}
  </div>
</div>
{% endblock %}
