{% extends "panel/base.html" %} {% block title%} Links {% endblock %} {% block
content%}
<div class="flex flex-row flex-wrap justify-center gap-[2%]">
  <div
    class="my-[1%] flex min-h-[300px] w-[48%] min-w-[350px] flex-col items-center justify-evenly rounded-md bg-gray-200 text-center dark:bg-slate-600"
  >
    <div>
      <h1 class="mt-4 text-2xl">Add link</h1>
    </div>
    <form method="POST" action="{{url_for('panel.home')}}">
      <input class="hidden" type="text" name="field" value="add" />
      <label for="alias">Alias</label><br />
      <input
        type="text"
        class="mb-4 rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none max-sm:h-[40%] max-sm:w-[70%] dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        placeholder="our-site"
        name="alias"
      /><br />
      <label for="target">Target</label><br />
      <input
        type="text"
        class="mb-4 rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none max-sm:h-[40%] max-sm:w-[70%] dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        placeholder="https://prusmoot.org"
        name="target"
      /><br />
      <input
        type="submit"
        class="bg-green-500 active:bg-green-700 mb-4 rounded-full px-14 py-2 text-white duration-200 hover:bg-green-600"
        value="Add"
      />
    </form>
  </div>

  <div
    class="my-[1%] flex min-h-[300px] w-[48%] min-w-[350px] flex-col items-center justify-evenly rounded-md bg-gray-200 text-center dark:bg-slate-600"
  >
    <div>
      <h1 class="mt-4 text-2xl">Delete link</h1>
    </div>
    <form method="POST" action="{{url_for('panel.home')}}">
      <input class="hidden" type="text" name="field" value="delete" />
      <label for="alias">Alias</label><br />
      <input
        type="text"
        class="mb-4 rounded-md border-[2px] border-solid border-blue-500 bg-blue-50 px-[1rem] py-[0.9rem] text-blue-500 placeholder-blue-500 duration-150 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none max-sm:h-[40%] max-sm:w-[70%] dark:bg-blue-950 dark:text-white dark:placeholder-white dark:hover:bg-blue-900 dark:focus:bg-blue-800"
        placeholder="our-site"
        name="alias"
      /><br />
      <input
        type="submit"
        class="mb-4 rounded-full bg-red-500 px-14 py-2 text-white duration-200 hover:bg-red-600 active:bg-red-700"
        value="Delete"
      />
    </form>
  </div>

  <div
    class="my-[1%] flex min-h-[300px] w-[98%] min-w-[350px] flex-col items-center justify-evenly rounded-md bg-gray-200 text-center dark:bg-slate-600"
  >
    <div>
      <h1 class="mt-4 text-2xl">All links</h1>
    </div>

    {% if links %}
    <table class="min-w-[90%] table-auto">
      <thead class="bg-gray-100 dark:bg-gray-500">
        <tr>
          <th class="border-b border-gray-300 px-4 py-2 text-center">Alias</th>
          <th class="border-b border-gray-300 px-4 py-2 text-center">Target</th>
        </tr>
      </thead>
      <tbody>
        {% for link in links %}
        <tr class="even:bg-gray-100 dark:even:bg-gray-500">
          <td class="border-b border-gray-200 px-4 py-2">{{ link.alias }}</td>
          <td class="border-b border-gray-200 px-4 py-2">
            <a href="{{ link.target }}" target="_blank">{{ link.target }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %} No links to show! {% endif %}
  </div>
</div>
{% endblock %}
