{% extends 'admin/master.html' %} {% block body %} 
  <form
    action=""
    method="POST"
    role="form"
    class="admin-form form-horizontal"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="password" class="col-md-2 control-label"
        >Password

        <strong style="color: red">*</strong>
      </label>
      <div class="col-md-10">
        <input
          class="form-control"
          id="password"
          maxlength="128"
          name="password"
          required=""
          type="text"
          value=""
        />
      </div>
    </div>

    <hr />
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input type="submit" class="btn btn-primary" value="Generate" />
      </div>
    </div>
  </form>
  {% endblock %}
</div>
