{% extends "base.html" %} {% block title %}{{_('Files')}}{% endblock %} {% block content
%}
<main class="mx-auto mt-5 w-[90%]">
  <div
    class="bg-pruslight-300 rounded-md p-6 shadow-[0_5px_15px_-3px_rgba(0,0,0,0.05)]"
  >
    <h1 class="font-heading mb-2 text-4xl">{{_('Files')}}</h1>
    <!-- <p class="mb-4 text-gray-700">
      Only files related to the current edition are shown here. For archive
      documents, please see the <i>editions</i> tab.
    </p> -->

    <div
      class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6"
    >
      {% for file in files %}
      <div
        class="hover:text-prusdark file-item cursor-pointer text-center duration-200"
        data-id="{{ file[0] }}"
        data-name="{{ file[1] }}"
        data-description="{{ file[3]|e }}"
        data-download-url="{{url_for('main.download', folder=folder, file=file[0] + '.' + file[4])}}"
      >
        <img
          src="{{ url_for('static', filename='file_icons/' + file[2]) }}"
          class="mx-auto mb-2 w-16"
        />
        <span class="">{{ file[1] }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

<div
  id="file-popup"
  class="glass fixed left-1/2 top-1/2 z-50 flex hidden h-[20rem] w-[90%] max-w-[35rem] -translate-x-1/2 -translate-y-1/2 transform flex-col items-center justify-evenly rounded-md text-center"
>
  <div class="flex w-full items-center justify-between px-6">
    <h2 id="popup-title" class="text-2xl"></h2>
    <span id="popup-close" class="cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        class="hover:stroke-prusdark w-7 stroke-black duration-150"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </span>
  </div>
  <div
    id="popup-description"
    class="max-h-[60%] overflow-y-auto px-6 text-left"
  ></div>
  <div>
    <a
      id="popup-download"
      href="#"
      target="_blank"
      class="hover:bg-prusdark-400 active:bg-prusdark-500 rounded-full bg-black px-6 py-2.5 font-semibold text-white duration-300"
      >{{_('Download')}}</a
    >
  </div>
</div>

<script>
  const popup = document.getElementById("file-popup");
  const popupTitle = document.getElementById("popup-title");
  const popupDescription = document.getElementById("popup-description");
  const popupDownload = document.getElementById("popup-download");
  const popupClose = document.getElementById("popup-close");

  document.querySelectorAll(".file-item").forEach((item) => {
    item.addEventListener("click", () => {
      popupTitle.textContent = item.dataset.name;
      popupDescription.textContent = item.dataset.description;
      popupDownload.href = item.dataset.downloadUrl;
      popup.classList.remove("hidden");
    });
  });

  popupClose.addEventListener("click", () => {
    popup.classList.add("hidden");
  });
</script>

{% endblock content %}
