{% extends "base.html" %} {% block title %}{{_('Home')}}{% endblock %} {% block content
%}
<div
  class="text-pruslight-50 realtive coverbg fixed left-0 top-0 flex h-screen w-full flex-col justify-center"
>
  <!-- max-md:different cover ^^^ -->

  <!-- bg-cover text-white -->
  <div class="absolute inset-0 z-0 bg-black/50 max-md:bg-black/20"></div>
  <div class="relative z-10">
    <div class="text-center">
      <h1 class="~sm/lg:~text-6xl/9xl font-hero mx-auto leading-[1.1]">
        {{_('For')}}
        <span
          class="text-prusdark-400 stroke-prusdark-100 relative whitespace-nowrap"
        >
          <svg
            class="absolute left-[-2.5rem] top-[-2rem] z-[-1] w-[115%]"
            xmlns="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.dev/svgjs"
            viewBox="0 0 800 400"
          >
            <path
              d="M21.984777450561523,282.8259582519531C85.03125985463461,267.1390380859375,364.70665073394775,187.06104532877603,400.263671875,188.70443725585938C435.82069301605225,190.34782918294272,188.56494140625,280.88376871744794,235.326904296875,292.6863098144531C282.0888671875,304.4888509114583,606.5840250651041,265.0474548339844,680.83544921875,259.5196838378906"
              fill="none"
              stroke-width="10"
              stroke-linecap="round"
              transform="matrix(1,0,0,1,48.58989906311035,-41.778953552246094)"
              stroke-opacity="1"
            ></path>
            <defs></defs>
          </svg>
          <span class="relaitive">{{_('ambitious')}}</span>
        </span>
        <br />
        {{_('students')}}
      </h1>
    </div>
    <p
      class="~text-[0.75rem]/[1rem] mx-auto mt-3 w-[35rem] max-md:w-[30rem] max-sm:w-[20rem]"
    >
      {{_('with a passion for law, debate, and public speaking, PrusMoot offers a unique opportunity to step into the shoes of legal advocates and explore the complexities of international law.')}}
    </p>
    <div class="row mt-12 flex justify-center gap-5">
      <a
        href="https://mymoot.org/mootDetails?id=36"
        target="_blank"
        class="~px-4/7 ~py-1.5/2.5 ~text-xs/base bg-prusdark hover:bg-prusdark-400 active:bg-prusdark-500 flex items-center rounded-full font-semibold text-white duration-300"
        >{{_('Register now')}}</a
      >
      <a
        href="{{url_for('main.edition', year=2025)}}"
        class="~px-4/7 ~py-2/2.5 ~text-xs/base bg-prusdark-400 hover:bg-prusdark-500 active:text-prusdark-600 flex items-center rounded-full font-semibold duration-300"
        >{{_('Learn more')}}</a
      >
    </div>
  </div>
  <!-- <div class="absolute bottom-0 mt-5 w-full py-4 text-center">
    <div
      class="mt-3 flex w-full flex-row flex-nowrap items-center justify-center opacity-55"
    >
      <object
        data="{{url_for('static', filename='img/cms_logo.svg')}}"
        type="image/svg+xml"
        class="~h-16/24 w-auto"
      ></object>
    </div>
  </div> -->
</div>
<style>
  .coverbg {
    background-image: url("{{  url_for('static', filename='img/cover.jpg') }}");
    background-size: cover;
  }

  @media (width < 48rem) {
    .coverbg {
      background-image: url("{{  url_for('static', filename='img/cover2.jpg') }}");
    }
  }
</style>

{% endblock %}
