{% extends "base.html" %} {% block title %}Post{% endblock %} {% block content
%}
<main class="mx-auto mt-5 flex w-[90%] flex-col gap-5">
  <article>
    <div
      class="bg-pruslight-300 relative transform rounded-md p-4 shadow-[0px_5px_15px_-3px_rgba(0,_0,_0,_0.05)]"
    >
      <div class="flex flex-col items-center">
        <div
          class="mb-6 w-[65%] min-w-[450px] rounded-lg p-10 max-sm:min-w-[99%] max-sm:p-3"
        >
          <h1 class="font-heading text-center text-4xl max-lg:mb-2">
            {{ getattr(post, 'title_' ~ get_locale(), post.title_en) }}
          </h1>
          <div class="flex flex-row items-center justify-start gap-5 text-lg">
            <div
              class="relative h-14 w-14 overflow-hidden rounded-full max-sm:h-10 max-sm:w-10"
            >
              <img
                src="{{ url_for('static', filename='pfps/' + post.author.profile_picture + '_min.png')}}"
                alt="profile picture"
                class="absolute left-0 top-0 h-full w-auto object-cover"
              />
            </div>
            <header>
              <div
                class="flex flex-row items-center gap-2 font-light text-gray-500 max-sm:text-sm"
              >
                <span class=""
                  >{{post.author.first_name}} {{post.author.last_name}}</span
                >
                <div class="h-1.5 w-1.5 rounded-full bg-gray-500"></div>
                <time datetime="{{ post.created_at.isoformat() }}">
                  {{ post.created_at | dateformat("long") }}
                </time>
              </div>
            </header>
          </div>
          <div class="content">{{ getattr(post, 'content_' ~ get_locale(), post.content_en) | safe }}</div>
          <footer>
            <div class="my-2 flex flex-row flex-wrap gap-2 max-sm:text-sm">
              {% for tag in post.tags %}
              <a
                href="{{url_for('main.news', tag=tag.id)}}"
                class="transform rounded-full px-3 py-2 text-sm font-semibold duration-200 hover:scale-105 hover:bg-sky-300 max-sm:px-2.5 max-sm:py-1.5"
                style="background-color: {{tag.color}}"
                >{{ getattr(tag, 'name_' ~ get_locale(), tag.name_en) }}</a
              >
              {% endfor %}
            </div>
          </footer>
        </div>
      </div>
      <a
        href="{{url_for('main.news')}}"
        class="text-pruslight-300 group fixed left-10 top-10 inline-flex h-20 w-20 items-center justify-center rounded-full bg-black max-md:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 transform transition-transform duration-300 group-hover:-rotate-45"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 19.5-15-15m0 0v11.25m0-11.25h11.25"
          />
        </svg>
      </a>
    </div>
  </article>
</main>

<style>
  hr {
    border-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content h1 {
    font-size: 3.75rem;
  }

  .content h2 {
    font-size: 3rem;
  }

  .content h3 {
    font-size: 2.25rem;
  }

  .content h4 {
    font-size: 1.875rem;
  }

  .content h5 {
    font-size: 1.5rem;
  }

  .content h6 {
    font-size: 1.25rem;
  }

  .content blockquote {
    border-left-width: 0.25rem;
    border-left-style: solid;
    border-left-color: #94a3b8;
    padding-left: 0.5rem;
    font-style: italic;
  }
</style>
{% endblock content %}
