{% extends "base.html" %} {% block title %}Post{% endblock %} {% block content
%}
<main class="w-[90%] mx-auto mt-5 flex flex-col gap-5">
  <article>
    <div
      class="relative bg-pruslight-300 rounded-md p-4 shadow-[0px_5px_15px_-3px_rgba(0,_0,_0,_0.05)] transform"
    >
      <div class="flex flex-col items-center">
        <div
          class="w-[65%] min-w-[450px] mb-6 p-10 rounded-lg max-sm:min-w-[99%] max-sm:p-3"
        >
          <h1 class="text-4xl text-center max-lg:mb-2">{{post.title_en}}</h1>
          <div class="flex flex-row items-center justify-start gap-5 text-lg">
            <div
              class="w-14 h-14 rounded-full overflow-hidden relative max-sm:w-10 max-sm:h-10"
            >
              <img
                src="{{ url_for('static', filename='pfps/' + post.author.profile_picture + '_min.png')}}"
                alt="profile picture"
                class="absolute h-full w-auto top-0 left-0 object-cover"
              />
            </div>
            <header>
              <div
                class="flex flex-row items-center gap-2 font-light text-gray-500 max-sm:text-sm"
              >
                <span class=""
                  >{{post.author.first_name}} {{post.author.last_name}}</span
                >
                <div class="w-1.5 h-1.5 rounded-full bg-gray-500"></div>
                <time datetime="2025-07-23" class=""
                  >{{post.created_at.strftime("%B %d, %Y")}}</time
                >
              </div>
            </header>
          </div>
          <div class="content">{{post.content_en | safe}}</div>
          <footer>
            <div class="my-2 flex flex-row flex-wrap gap-2 max-sm:text-sm">
              {% for tag in post.tags %}
              <a
                href="{{url_for('main.news', tag=tag.id)}}"
                class="py-2 px-3 rounded-full text-sm duration-200 transform hover:scale-105 hover:bg-sky-300 max-sm:py-1.5 max-sm:px-2.5"
                style="background-color: {{tag.color}}"
                >{{tag.name_en}}</a
              >
              {% endfor %}
            </div>
          </footer>
        </div>
      </div>
      <a
        href="{{url_for('main.news')}}"
        class="group fixed left-10 top-10 bg-black text-pruslight-300 w-20 h-20 rounded-full inline-flex items-center justify-center max-md:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 duration-300 transform transition-transform group-hover:-rotate-45"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 19.5-15-15m0 0v11.25m0-11.25h11.25"
          />
        </svg>
      </a>
    </div>
  </article>
</main>

<style>
  hr {
    border-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content h1 {
    font-size: 3.75rem;
  }

  .content h2 {
    font-size: 3rem;
  }

  .content h3 {
    font-size: 2.25rem;
  }

  .content h4 {
    font-size: 1.875rem;
  }

  .content h5 {
    font-size: 1.5rem;
  }

  .content h6 {
    font-size: 1.25rem;
  }

.content blockquote {
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: #94a3b8;
  padding-left: 0.5rem;
  font-style: italic;
}
</style>
{% endblock content %}
